@model IEnumerable<carfinder.Models.Car>

@{
    ViewBag.Title = "Index";
}
<div id="wrapper">


    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        @using (Html.BeginForm("Index", "CarSearch", FormMethod.Get, new { @id = "form" }))
        {
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <p style="color:white">
                        Find Your Car
                    </p>
                </li>
                
                <li>
                    @Html.DropDownList("year", null, "Select Year", new { @id = "year", @class= "form-control" })
                </li>
                @if (ViewBag.make != null)
                {
                <li>
                    @Html.DropDownList("make", null, "Select Make", new { @id = "make", @class = "form-control" })
                </li>
                }
                @if (ViewBag.model != null)
                {
                <li>
                    @Html.DropDownList("model", null, " Select Model", new { @id = "model", @class = "form-control" })
                </li>
                }
                @if (ViewBag.trim != null)
                {
                <li>
                    @Html.DropDownList("trim", null, "Select Trim", new { @id = "trim", @class = "form-control" })
                </li>
                }
            </ul>

        }
    </div>
    <!-- /#sidebar-wrapper -->





    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="navbar navbar-default navbar-fixed-top topnav">
                <div class="container topnav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Carfinder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand topnav" })
                    </div>
                    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Search", "Index", "CarSearch")</li>
                        </ul>

                    </div>
                </div>
            </div>
            @* first row *@
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered dataTable no-footer table-condensed"  id="cartable">
                        <thead>
                            <tr>
                                <th>
                                    Make
                                </th>
                                <th>
                                    Model
                                </th>
                                <th>
                                    Trim
                                </th>
                                <th>
                                    Year
                                </th>
                                <th>
                                    Body
                                </th>

                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.make)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.model_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.model_trim)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.model_year)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.body_style)
                                    </td>

                                    <td>

                                        @Html.ActionLink("Select", "Details", new { id = item.id })

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @* end of first row *@
            @Html.Partial("_Footer")
        </div>
        </div>
    </div>
@section Scripts 
    {

    <script type="text/javascript">

        $(document).ready(function () {
            var year, make, model, trim;
            $("#year").change(function () {
                year = $("#year").val();
                $("#make").empty();
                $("#trim").empty();
                $("#model").empty();
                $.getJSON('/CarSearch1/MakesByYear', { year }, function (data) {
                    $.each(data, function (i, obj)
                    {
                        $("#make").append($("<option></option>").text(obj["Text"]))
                    })
                })
                $("#cartable").dataTable().api().draw();
            });
          
            $("#make").change(function () {
                make = $("#make").val();
                $("#trim").empty();
                $("#model").empty();
                $.getJSON('/CarSearch1/ModelsByYearMake', { year, make }, function (data) {
                    $.each(data, function (i, obj) {
                        $("#model").append($("<option></option>").text(obj["Text"]))
                    })
                })
                $("#cartable").dataTable().api().draw();
            });

            $("#model").change(function () {
                model = $("#model").val();
                $("#trim").empty();
                $.getJSON('/CarSearch1/TrimsByYearMakeModel', { year, make, model }, function (data) {
                    $.each(data, function (i, obj) {
                        $("#trim").append($("<option></option>").text(obj["Text"]))
                    })
                })
                $("#cartable").dataTable().api().draw();
            });

            var year, make, model, trim;
            $("#trim").change(function () {

                $("#cartable").dataTable().api().draw();
            });







        });

        $(document).ready(function () {

            $("#cartable").DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/CarSearch1/Index",
                    "type": "Get",
                    "data": function (d) {
                        d.year = $("#year").val();
                        d.make = $("#make").val();
                        d.model = $("#model").val();
                        d.trim = $("#trim").val();
                    }
                },
                "columns": [
                  { "data": "id", "visible": false },
               { "data": "Make" },
               { "data": "Model" },
               {
                   "data": "Trim"

               },
               {
                   "data": "Year",

               },
                ]

            });
        });
    </script>
    
    }